@import 'Preset.css';
body{
  background-image: url('../imagen/Fundo.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  .blurEdit{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(123 51 118);
    opacity: 49%;
    filter: blur(4px) contrast(2.5) saturate(80%) sepia(24%) brightness(21%);
  }
  .blurGreenBig{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(54 255 0);
    opacity: 7%;
    filter: contrast(200%) saturate(150%) brightness(63%);
    z-index: 2000;
    mix-blend-mode: plus-lighter;
  }
  .mesa{
    width: 90vw;
    background-color: #755050;
    height: 26vh;
    margin-top: 77vh;
    border-radius: 0.25vw;
  }
  .Conteudo{
    background-image: url('../imagen/XpBG.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .cmdTerminal{
      background-color: rgb(11 7 12);
      width: 71vh;
      height: 59vh;
      border: 3px solid rgb(0 111 189);
      font-family: 'Pixel';
      display: flex;
      flex-direction: column;
    }
      .title{
        color: rgb(255 255 255);
        font-size: 2vh;
        border-bottom: 3px solid rgb(0 111 189);
        text-align: left;
        font-weight: 100;
        display: flex;
        align-items: center;
        padding: 1vh;
      }
        .btncdmexit{
          color: green;
          background-color: rgb(121 255 148);
          font-size: 2vh;
          height: 4vh;
          width: 7vw;
          border: none;
          outline: none;
          border-radius: 0.05vw;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: end;
          position: absolute;
        }
      .ResText{
        color: rgb(240 253 236);
        background-color: rgb(9 16 9);
        width: 77%;
        height: 98%;
        padding: 1%;
        word-wrap: break-word;
        overflow-y: scroll;
        font-size: 1.5vh;
        font-family: 'Pixel';
        font-weight: 100;
        padding-bottom: 10vh;
      }
        .ResText::-webkit-scrollbar {
          width: 0.5vw;
        }
        
        .ResText::-webkit-scrollbar-thumb {
          background: rgb(49 174 34);
        }
      .opacity0{
        opacity: 0%;
        position: absolute;
        margin-top: 60vh;
      }
        .doll{
          position: absolute;
          z-index: 80;
          border: 3px solid rgb(0 111 189);
          width: 11vw;
          height: 20vh;
          padding: 1vh;
          background-color: rgb(11 7 12);
          margin: 7vh 0vw 0vh 31vw;
          rotate: 1deg;
          animation: 1.5s nave linear infinite alternate-reverse backwards;
        }
          .doll img{
            width: 100%;
            height: 100%;
          }

@keyframes nave{
  0%{
    rotate: 1deg;
    margin-top: 7vh;
  }
  50%{
    rotate: 0deg;
    margin-top: 7.5vh;
  }
  100%{
    rotate: 2deg;
    margin-top: 6.5vh;
  }
}